
@{
    ViewBag.Title = "TallerVS";
}

<h2>TallerVS</h2>
<div class="jumbotron">
    <h1>Taller demo de Visual Studio</h1>
    <p class="alert-danger">Prueba 2019</p>
</div>

<div>
    <button class="btn btn-success"> Presentación FB KBSoluciones</button>
    <button class="btn btn-primary"> Presentación FB KBSoluciones</button>
    <button class="btn btn-danger"> Presentación FB KBSoluciones</button>
    <button class="btn btn-warning"> Presentación FB KBSoluciones</button>
</div>
